<html>
    <head>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
        <style type="text/css">

            .warning {
                background-color: #ccccff;
            }
            .error, .fatal {
                background-color: #ffcccc
            }
            .notice {
                background-color: #ccffcc;
            }
            .container {
                width: 960px;
                margin: 10px auto;
            }

            table {
                border-collapse: collapse;
                width: 100%;
            }

            td, th{
                border: 1px solid #aaa;
                padding: 5px 10px;
                font: 14px Tahoma;
            }

            th {
                font-weight: bold;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <h1>{{ error.message }}</h1>
            <a href="{{ url('two_dudes.errors.list') }}">Back to errors</a>
            <table class="table table-bordered table-condensed table-striped">
                <tr>
                    <th>Last occured</th>
                    <td>{{ error.created_at }}</td>
                </tr>
                <tr>
                    <th>Count</th>
                    <td>{{ error.count }}</td>
                </tr>
                <tr>
                    <th>Type</th>
                    <td>{{ error.type }}</td>
                </tr>
                <tr>
                    <th>File</th>
                    <td>{{ error.file }}</td>
                </tr>
                <tr>
                    <th>Line</th>
                    <td>{{ error.line }}</td>
                </tr>
                <tr>
                    <th>Trace</th>
                    <td>{{ error.trace|nl2br }}</td>
                </tr>
                {% if 'REQUEST_URI' in error.server|keys %}
                    <tr>
                        <th>Url</th>
                        <td>{{ error.server.REQUEST_URI }}</td>
                    </tr>
                {% endif %}
                <tr>
                    <th>Server</th>
                    <td>
                        {% for key, val in error.server %}
                            {% if val is not iterable %}
                                {{ key }} => {{ val }} <br/>
                            {% endif %}
                        {% endfor %}
                    </td>
                </tr>
            </table>
        </div>
    </body>
</html>