<html>
    <head>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
        <style type="text/css">
            .warning td {
                background-color: #ccccff !important;
            }
            .error td, .fatal td {
                background-color: #ffcccc !important;
            }
            .notice td {
                background-color: #ccffcc !important;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <h1>{{ error.message }}</h1>
            <a href="{{ url('two_dudes.errors.list') }}">Back to errors</a>
            <table class="table table-bordered table-condensed table-striped">
                <tr>
                    <th>Last occured</th>
                    <td>{{ error.created_at }}</td>
                </tr>
                <tr>
                    <th>Count</th>
                    <td>{{ error.count }}</td>
                </tr>
                <tr>
                    <th>Type</th>
                    <td>{{ error.type }}</td>
                </tr>
                <tr>
                    <th>File</th>
                    <td>{{ error.file }}</td>
                </tr>
                <tr>
                    <th>Line</th>
                    <td>{{ error.line }}</td>
                </tr>
                <tr>
                    <th>URL</th>
                    <td>{{ error.uri }}</td>
                </tr>
                <tr>
                    <th>Token Data</th>
                    <td>{{ error.tokenData }}</td>
                </tr>
                <tr>
                    <th>POST</th>
                    <th>{{ error.post|nl2br }}</th>
                </tr>
                <tr>
                    <th>Trace</th>
                    <td>{{ error.trace|nl2br }}</td>
                </tr>
                {% if 'REQUEST_URI' in error.server|keys %}
                    <tr>
                        <th>Url</th>
                        <td>{{ error.server.REQUEST_URI }}</td>
                    </tr>
                {% endif %}
                <tr>
                    <th>Server</th>
                    <th>{{ error.server|nl2br }}</th>
                </tr>
            </table>
        </div>
    </body>
</html>